$font-family: 'Roboto', sans-serif;
$font-size: .6rem;
$font-size-1: .5rem;
$font-size-md: .8rem;
$font-big: 1.3rem;
$font-weight-1: 600;
$color-1: white;
$color-2:#141b29;
$border-radius: 8px;
$BG_COLOR_L1:#192133;